<!-- top failed api html templete -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form">
        <h2>Server Name</h2>
        <div ng-repeat="item in data">
            <label class="switch">{{item.serverName}}
            <input  checklist-model="test.services" checklist-value="item" ng-click="createApisSelect(item.serverName)" type="checkbox" value="{{item.serverName}}"><i></i>
            </label>
        </div>
        <div ng-repeat="service in serviceToDisp">
            <h3>{{service.serverName}} Apis</h3>
            <div ng-repeat="apiName in service.apis">
                <label class="switch red">{{apiName}}
                <input checklist-model="test.apis" checklist-value="apiName" class="form-control" ng-click="addApisToQuary()" type="checkbox" value="{{apiName}}"><i></i>
                </label>
            </div>
        </div>
        <div class="form-group">
            <h2 for="duration">Duration</h2>
            <input class="form-control" max="5" ng-model="quary.duration" type="number" placeholder="Duration" class="form-control">
        </div>
        <div class="from-group">
            <h2 for="top">Top failed number</h2>
            <input class="form-control" max="10" ng-model="quary.top" type="number" placeholder="Top apis" class="form-control">
        </div>
        <div>
            <input class="btn btn-default" ng-click="onClick()" type="button" name="getData" value="Get Chart">
        </div>
    </form>
    <table>
        <tr>
            <td>
                <div id="mainFailedChartHeader">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <canvas id="mainFailedChartCanvas" height="400" width="700"></canvas>
            </td>
        </tr>
    </table>
</div>